@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #e4e4d0; }

.navbar {
  background-color: #402218; }
  .navbar .container .navbar-brand {
    text-decoration: none;
    font-size: 24px;
    color: #e4e4d0; }
    .navbar .container .navbar-brand span {
      color: #c3b091 !important;
      font-size: 32px; }
  .navbar .container .navbar-nav .nav-item a {
    color: #e4cda7; }
  .navbar .container .navbar-nav .nav-item:hover {
    border-bottom: 2px solid #8e806a; }

header {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  color: #e4e4d0; }
  header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%; }
    header .content p {
      max-width: 70%; }
    header .content a {
      color: #e4e4d0;
      border: 2px solid; }
      header .content a:hover {
        background-color: #e5890a;
        transition: 0.9s; }

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2424;
  opacity: 0.6; }

header * {
  z-index: 5; }

.info {
  background-color: #2d2424; }
  .info .about {
    padding: 15px;
    text-align: center; }
    .info .about h2 {
      color: #dbd0c0;
      font-size: 32px; }
      .info .about h2 span {
        color: #e5890a;
        font-size: 32px; }
  .info .img-container {
    max-width: 100%;
    overflow: hidden; }
  .info .img-container img {
    width: 100%;
    height: auto;
    border-radius: 10px; }
  .info #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .info #info h4 {
      text-decoration: underline;
      text-decoration-color: #8e806a; }
    .info #info a {
      color: #e4e4d0;
      border: 2px solid; }
      .info #info a:hover {
        background-color: #e5890a;
        transition: 0.9s; }

.menu {
  background-color: #2d2424; }
  .menu .title {
    font-size: 32px;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center; }
    .menu .title span {
      color: #e5890a;
      font-size: 32px; }
  .menu .card {
    border: 2px solid #e4cda7;
    border-radius: 5px; }
    .menu .card .card-img-top {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    .menu .card .card-body {
      background-color: #402218; }
      .menu .card .card-body .card-title {
        text-decoration: underline;
        text-decoration-color: #8e806a; }

.form {
  background-color: #2d2424;
  padding-bottom: 50px; }
  .form .opinion h3 {
    font-size: 32px; }
    .form .opinion h3 span {
      color: #e5890a;
      font-size: 32px; }
  .form .btn {
    background-color: #2d2424;
    color: #e4e4d0;
    border: 2px solid; }
    .form .btn:hover {
      background-color: #e5890a;
      transition: 0.9s; }

footer {
  background-color: #402218; }
